@charset "UTF-8";
.docs-api-drawer .docs-modifiers{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  height:100%;
  margin:0; }

.docs-api-drawer .docs-interface-header{
  -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
  padding:10px 20px; }
  .docs-api-drawer .docs-interface-header + .docs-section{
    -ms-flex-negative:0;
        flex-shrink:0;
    padding-left:20px;
    padding-right:20px; }

.docs-api-drawer .docs-modifiers-table{
  overflow:auto;
  padding-bottom:20px; }
  .docs-api-drawer .docs-modifiers-table th:first-child,
  .docs-api-drawer .docs-modifiers-table td:first-child{
    padding-left:20px; }
  .docs-api-drawer .docs-modifiers-table td:last-child{
    padding-right:20px; }

.docs-api-drawer.bp3-dark .docs-modifiers{
  background-color:#394b59;
  -webkit-box-shadow:0 0 0 1px rgba(16, 22, 26, 0.2), 0 4px 8px rgba(16, 22, 26, 0.4), 0 18px 46px 6px rgba(16, 22, 26, 0.4);
          box-shadow:0 0 0 1px rgba(16, 22, 26, 0.2), 0 4px 8px rgba(16, 22, 26, 0.4), 0 18px 46px 6px rgba(16, 22, 26, 0.4); }

.docs-code{
  font-family:monospace;
  font-weight:600; }
.docs-banner{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-shadow:inset 0 -1px 0 rgba(16, 22, 26, 0.15);
          box-shadow:inset 0 -1px 0 rgba(16, 22, 26, 0.15);
  color:#ffffff !important;
  -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  left:0;
  min-height:40px;
  padding:10px 20px;
  position:fixed;
  right:0;
  text-align:center;
  top:0;
  z-index:19; }
  .docs-banner > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-banner > .bp3-fill{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }
  .docs-banner.bp3-intent-primary{
    background:#137cbd; }
    .docs-banner.bp3-intent-primary:hover{
      background:#106ba3; }
    .docs-banner.bp3-intent-primary:active{
      background:#0e5a8a; }
  .docs-banner.bp3-intent-success{
    background:#0f9960; }
    .docs-banner.bp3-intent-success:hover{
      background:#0d8050; }
    .docs-banner.bp3-intent-success:active{
      background:#0a6640; }
  .docs-banner.bp3-intent-warning{
    background:#d9822b; }
    .docs-banner.bp3-intent-warning:hover{
      background:#bf7326; }
    .docs-banner.bp3-intent-warning:active{
      background:#a66321; }
  .docs-banner.bp3-intent-danger{
    background:#db3737; }
    .docs-banner.bp3-intent-danger:hover{
      background:#c23030; }
    .docs-banner.bp3-intent-danger:active{
      background:#a82a2a; }
  .docs-banner:hover{
    text-decoration:none; }
  .bp3-dark .docs-banner{
    -webkit-box-shadow:0 1px 0 rgba(16, 22, 26, 0.15);
            box-shadow:0 1px 0 rgba(16, 22, 26, 0.15); }
  .docs-banner + .docs-app{
    padding-top:40px; }
    .docs-banner + .docs-app .docs-nav{
      height:calc(100vh - 40px); }
    .docs-banner + .docs-app .docs-anchor{
      margin-top:-80px; }
.docs-title{
  margin:40px 0 20px;
  position:relative; }
  .depth-1 > .docs-title{
    margin-top:20px; }

.docs-anchor{
  margin-top:-40px;
  position:absolute; }

.docs-anchor-link{
  color:#5c7080;
  left:0;
  line-height:16px;
  opacity:0;
  padding:10px;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-100%, -50%);
          transform:translate(-100%, -50%); }
  .docs-anchor-link:hover{
    color:#182026; }
  .bp3-dark .docs-anchor-link{
    color:#a7b6c2; }
    .bp3-dark .docs-anchor-link:hover{
      color:#f5f8fa; }
  .docs-anchor-link .bp3-icon-standard{
    vertical-align:top; }
  .docs-anchor-link:focus,
  .docs-title:hover .docs-anchor-link{
    opacity:1; }

.docs-markup .editor{
  margin:0; }

.editor{
  color:inherit;
  overflow:auto; }
  .editor .line{
    line-height:1.5;
    padding-right:20px;
    white-space:nowrap; }
  .editor .support.constant.handlebars{
    display:none; }
    .editor .support.constant.handlebars + span{
      background:rgba(194, 116, 194, 0.15);
      border-radius:3px;
      color:#c274c2;
      padding:0 3px; }
    .editor .support.constant.handlebars + .variable{
      background:rgba(245, 73, 139, 0.15);
      color:#f5498b; }

.docs-example-frame{
  margin-top:40px;
  position:relative;
  width:100%; }

.docs-example-frame-row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row; }
  .docs-example-frame-row > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-example-frame-row > .docs-example{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }
  .docs-example-frame-row::before,
  .docs-example-frame-row > *{
    margin-right:10px; }
  .docs-example-frame-row:empty::before,
  .docs-example-frame-row > :last-child{
    margin-right:0; }
  .docs-example-frame-row .docs-example-options{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    max-width:300px; }
    .docs-example-frame-row .docs-example-options > *{
      -webkit-box-flex:0;
          -ms-flex-positive:0;
              flex-grow:0;
      -ms-flex-negative:0;
          flex-shrink:0; }
    .docs-example-frame-row .docs-example-options > .bp3-fill{
      -webkit-box-flex:1;
          -ms-flex-positive:1;
              flex-grow:1;
      -ms-flex-negative:1;
          flex-shrink:1; }
    .docs-example-frame-row .docs-example-options::before,
    .docs-example-frame-row .docs-example-options > *{
      margin-bottom:10px; }
    .docs-example-frame-row .docs-example-options:empty::before,
    .docs-example-frame-row .docs-example-options > :last-child{
      margin-bottom:0; }

.docs-example-frame-column{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column; }
  .docs-example-frame-column > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-example-frame-column > .docs-example{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }
  .docs-example-frame-column::before,
  .docs-example-frame-column > *{
    margin-bottom:10px; }
  .docs-example-frame-column:empty::before,
  .docs-example-frame-column > :last-child{
    margin-bottom:0; }
  .docs-example-frame-column .docs-example-options{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    max-width:unset; }
    .docs-example-frame-column .docs-example-options > *{
      -webkit-box-flex:0;
          -ms-flex-positive:0;
              flex-grow:0;
      -ms-flex-negative:0;
          flex-shrink:0; }
    .docs-example-frame-column .docs-example-options > .bp3-fill{
      -webkit-box-flex:1;
          -ms-flex-positive:1;
              flex-grow:1;
      -ms-flex-negative:1;
          flex-shrink:1; }
    .docs-example-frame-column .docs-example-options::before,
    .docs-example-frame-column .docs-example-options > *{
      margin-right:40px; }
    .docs-example-frame-column .docs-example-options:empty::before,
    .docs-example-frame-column .docs-example-options > :last-child{
      margin-right:0; }

.docs-example{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background:#ffffff;
  border-radius:6px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  max-width:100%;
  min-width:0;
  padding:20px; }
  .bp3-dark .docs-example{
    background:#293742; }
  .docs-example > *{
    margin:20px; }

.docs-example-options{
  background-color:#ebf1f5;
  border-radius:6px;
  -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
  padding:20px;
  text-align:left; }
  .docs-example-options .bp3-heading:not(:first-child){
    margin-top:10px; }
  .docs-example-options .docs-prop-description{
    font-size:12px; }
  .docs-example-options .bp3-control:last-child,
  .docs-example-options .bp3-form-group:last-child,
  .docs-example-options .bp3-label:last-child{
    margin-bottom:0; }
  .bp3-dark .docs-example-options{
    background-color:#394b59; }

.docs-example-markup{
  margin-top:10px; }
  .docs-example-markup .editor{
    background:#ebf1f5;
    border-radius:6px;
    -webkit-box-shadow:none;
            box-shadow:none;
    margin:0; }
    .bp3-dark .docs-example-markup .editor{
      background:#394b59;
      -webkit-box-shadow:none;
              box-shadow:none; }

.docs-example-view-source{
  border-radius:6px;
  display:block;
  margin-bottom:40px;
  margin-top:10px; }
  .docs-example-view-source.bp3-button{
    height:40px;
    -webkit-transition:background-color 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
    transition:background-color 100ms cubic-bezier(0.4, 1, 0.75, 0.9); }
  .docs-example-view-source:not(:hover):not(:active){
    background-color:#ebf1f5; }
    .bp3-dark .docs-example-view-source:not(:hover):not(:active){
      background-color:#394b59; }

.bp3-code[data-modifier^=":"]{
  color:#c274c2; }

.bp3-code[data-modifier^="."]{
  color:#f5498b; }
body{
  overflow-y:scroll; }
.docs-flex-row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row; }
  .docs-flex-row > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-flex-row > .bp3-fill{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }

.docs-flex-column{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column; }
  .docs-flex-column > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-flex-column > .bp3-fill{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }
.docs-root{
  background-color:#f5f8fa; }
  .docs-root.bp3-dark{
    background-color:#30404d; }

.docs-app{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  margin:auto;
  max-width:1100px;
  min-height:100vh; }
  .docs-app > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-app > .bp3-fill{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }

.docs-nav-wrapper{
  -ms-flex-preferred-size:270px;
      flex-basis:270px;
  position:relative;
  z-index:10; }

.docs-nav{
  background-color:#ffffff;
  -webkit-box-shadow:1px 0 0 rgba(16, 22, 26, 0.15);
          box-shadow:1px 0 0 rgba(16, 22, 26, 0.15);
  height:100vh;
  margin-left:-999px;
  overflow-y:auto;
  padding-bottom:30px;
  padding-left:1004px;
  position:fixed;
  width:1269px; }
  .bp3-dark .docs-nav{
    background-color:#394b59;
    -webkit-box-shadow:1px 0 0 rgba(16, 22, 26, 0.4);
            box-shadow:1px 0 0 rgba(16, 22, 26, 0.4); }
  .docs-nav > *{
    padding:15px;
    padding-left:0; }

.docs-content-wrapper{
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  background-color:#f5f8fa;
  -ms-flex-preferred-size:830px;
      flex-basis:830px;
  outline:none; }
  .bp3-dark .docs-content-wrapper{
    background-color:#30404d; }

.docs-page{
  max-width:830px;
  padding-bottom:40px;
  padding-left:40px;
  padding-right:5px;
  padding-top:0;
  position:relative; }

.docs-page-actions{
  position:absolute;
  right:0;
  top:5px;
  z-index:1; }
.docs-nav-menu .bp3-menu-item{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-left:0;
  padding-right:10px;
  white-space:initial; }
  .docs-nav-menu .bp3-menu-item:hover, .docs-nav-menu .bp3-menu-item.bp3-active, .docs-nav-menu .bp3-menu-item.docs-nav-expanded{
    background-color:transparent !important;
    font-weight:600; }
  .docs-nav-menu .bp3-menu-item.depth-1{
    padding-left:20px; }
  .docs-nav-menu .bp3-menu-item.depth-2{
    padding-left:40px; }
  .docs-nav-menu .bp3-menu-item.depth-3{
    padding-left:60px; }
  .docs-nav-menu .bp3-menu-item.depth-4{
    padding-left:80px; }
  .docs-nav-menu .bp3-menu-item.depth-5{
    padding-left:100px; }

.docs-nav-menu .docs-nav-menu{
  display:none;
  margin-left:20px; }

.docs-nav-expanded + .docs-nav-menu{
  display:block; }

.docs-nav-title{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center; }
  .docs-nav-title > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-nav-title > .bp3-fill{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }

.docs-empty-state{
  display:none; }

.docs-nav-menu:empty + .docs-empty-state{
  display:block; }

.docs-examples-only .docs-markup,
.docs-examples-only .docs-modifiers,
.docs-examples-only .docs-title,
.docs-examples-only .docs-section > .bp3-running-text{
  display:none; }
.docs-nav-button{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  cursor:pointer;
  margin-left:-50px;
  padding:10px 15px;
  padding-left:54px; }
  .docs-nav-button > *{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-negative:0;
        flex-shrink:0; }
  .docs-nav-button > .bp3-fill{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    -ms-flex-negative:1;
        flex-shrink:1; }
  .docs-nav-button::before,
  .docs-nav-button > *{
    margin-right:14px; }
  .docs-nav-button:empty::before,
  .docs-nav-button > :last-child{
    margin-right:0; }
  .docs-nav-button:hover{
    background-image:-webkit-gradient(linear, left top, right top, from(rgba(245, 248, 250, 0)), color-stop(40%, #f5f8fa));
    background-image:linear-gradient(to right, rgba(245, 248, 250, 0) 0%, #f5f8fa 40%);
    color:inherit; }
    .bp3-dark .docs-nav-button:hover{
      background-image:-webkit-gradient(linear, left top, right top, from(rgba(48, 64, 77, 0)), color-stop(40%, #30404d));
      background-image:linear-gradient(to right, rgba(48, 64, 77, 0) 0%, #30404d 40%); }

.docs-nav-divider{
  background-image:-webkit-gradient(linear, left top, right top, from(rgba(16, 22, 26, 0)), color-stop(40%, rgba(16, 22, 26, 0.15)));
  background-image:linear-gradient(to right, rgba(16, 22, 26, 0) 0%, rgba(16, 22, 26, 0.15) 40%);
  background-image:linear-gradient(to right, rgba(16, 22, 26, 0) 0%, rgba(16, 22, 26, 0.15) 40%);
  height:1px;
  margin-left:-50px;
  padding:0; }
  .bp3-dark .docs-nav-divider{
    background-image:-webkit-gradient(linear, left top, right top, from(rgba(16, 22, 26, 0)), color-stop(40%, rgba(16, 22, 26, 0.4)));
    background-image:linear-gradient(to right, rgba(16, 22, 26, 0) 0%, rgba(16, 22, 26, 0.4) 40%); }

.docs-navigator-menu{
  left:calc(50% - 200px);
  width:400px; }
  .docs-navigator-menu .bp3-menu-item small{
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; }
  .docs-navigator-menu .bp3-menu-item.bp3-active small{
    color:rgba(255, 255, 255, 0.7); }

table{
  width:100%; }

input[type="search"]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box; }

.bp3-callout p:last-child{
  margin:0; }

.docs-prop-details code{
  background:none !important;
  -webkit-box-shadow:none !important;
          box-shadow:none !important;
  color:inherit !important;
  font-size:small;
  font-weight:600;
  padding:0; }

.docs-prop-default{
  font-weight:400; }
  .docs-prop-default:empty{
    display:none; }
  .docs-prop-default::before{
    content:"=";
    display:inline-block;
    margin:0 5px; }

.docs-prop-description{
  margin-top:5px; }
  .docs-prop-description p:last-child{
    margin:0; }

.docs-prop-tags:empty{
  display:none; }

.docs-prop-tags .bp3-tag{
  margin-right:10px;
  margin-top:5px; }

.docs-prop-name code::after{
  font-family:"Icons16", sans-serif;
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:1;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  line-height:small;
  margin-left:5px;
  vertical-align:middle; }

.docs-prop-is-deprecated code{
  color:#db3737; }
  .docs-prop-is-deprecated code::after{
    content:""; }

.docs-prop-is-required code{
  color:#0f9960; }
  .bp3-dark .docs-prop-is-required code{
    color:#15b371; }
  .docs-prop-is-required code::after{
    content:""; }

.docs-interface-header{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-shadow:0 1px 0 rgba(16, 22, 26, 0.15);
          box-shadow:0 1px 0 rgba(16, 22, 26, 0.15);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-family:monospace;
  font-size:16px;
  font-weight:600;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  padding:10px 0;
  position:relative; }
  .docs-interface-header + .docs-section{
    -webkit-box-shadow:0 1px 0 rgba(16, 22, 26, 0.15);
            box-shadow:0 1px 0 rgba(16, 22, 26, 0.15);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin-top:10px; }
  .bp3-dark .docs-interface-header{
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.15);
            box-shadow:0 1px 0 rgba(255, 255, 255, 0.15); }
    .bp3-dark .docs-interface-header + .docs-section{
      -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.15);
              box-shadow:0 1px 0 rgba(255, 255, 255, 0.15); }

.docs-package-name{
  margin-top:2px; }

.docs-type-alias{
  overflow:auto;
  padding:10px 20px; }

.docs-section .docs-modifiers-table .bp3-html-table{
  margin-top:10px; }

.docs-modifiers-table th:first-child,
.docs-modifiers-table td:first-child{
  padding-left:0; }

.docs-modifiers-table tr:last-child td{
  padding-bottom:0; }

.docs-modifiers{
  margin-bottom:40px;
  margin-top:20px; }

.editor-colors{
  background:#ffffff;
  color:#182026; }
  .editor-colors .entity.name,
  .editor-colors .entity.inherited-class,
  .editor-colors .meta.name,
  .editor-colors .support.type{
    color:#bf8c0a; }
  .editor-colors .brace{
    color:#293742; }
  .editor-colors .support{
    color:#00b3a4; }
  .editor-colors .entity.attribute-name{
    color:#d9822b; }
  .editor-colors .entity.function{
    color:#137cbd; }
  .editor-colors .entity.id{
    color:#bf8c0a; }
  .editor-colors .entity.pseudo-class{
    color:#c22762; }
  .editor-colors .entity.pseudo-element{
    color:#29a634; }
  .editor-colors .entity.tag{
    color:#29a634; }
  .editor-colors .class.component{
    color:#29a634; }
  .editor-colors .keyword{
    color:#a854a8; }
  .editor-colors .numeric{
    color:#c22762; }
  .editor-colors .operator{
    color:#a854a8; }
  .editor-colors .punctuation{
    color:#293742; }
  .editor-colors .storage{
    color:#a854a8; }
  .editor-colors .string{
    color:#87a629; }
  .editor-colors .variable{
    color:#00998c; }
  .editor-colors .comment{
    color:#738694; }
  .editor-colors .variable.property,
  .editor-colors .support.type.scss,
  .editor-colors .punctuation.definition.css{
    color:inherit; }
  .editor-colors .variable.constant,
  .editor-colors .variable.language{
    color:#00b3a4; }
  .editor-colors .punctuation.section.embedded{
    color:#a854a8; }
  .editor-colors .meta.type{
    font-style:italic; }
  .bp3-dark .editor-colors{
    background:#202b33;
    color:#bfccd6; }
    .bp3-dark .editor-colors .entity.name,
    .bp3-dark .editor-colors .entity.inherited-class,
    .bp3-dark .editor-colors .meta.name,
    .bp3-dark .editor-colors .support.type{
      color:#f2b824; }
    .bp3-dark .editor-colors .brace{
      color:#f5f8fa; }
    .bp3-dark .editor-colors .support{
      color:#2ee6d6; }
    .bp3-dark .editor-colors .entity.attribute-name{
      color:#f29d49; }
    .bp3-dark .editor-colors .entity.function{
      color:#2b95d6; }
    .bp3-dark .editor-colors .entity.id{
      color:#ffc940; }
    .bp3-dark .editor-colors .entity.pseudo-class{
      color:#db2c6f; }
    .bp3-dark .editor-colors .entity.pseudo-element{
      color:#29a634; }
    .bp3-dark .editor-colors .entity.tag{
      color:#29a634; }
    .bp3-dark .editor-colors .class.component{
      color:#29a634; }
    .bp3-dark .editor-colors .keyword{
      color:#a854a8; }
    .bp3-dark .editor-colors .numeric{
      color:#f5498b; }
    .bp3-dark .editor-colors .operator{
      color:#c274c2; }
    .bp3-dark .editor-colors .punctuation{
      color:#f5f8fa; }
    .bp3-dark .editor-colors .storage{
      color:#a854a8; }
    .bp3-dark .editor-colors .string{
      color:#b6d94c; }
    .bp3-dark .editor-colors .variable{
      color:#00b3a4; }
    .bp3-dark .editor-colors .comment{
      color:#738694; }
    .bp3-dark .editor-colors .variable.property,
    .bp3-dark .editor-colors .support.type.scss,
    .bp3-dark .editor-colors .punctuation.definition.css{
      color:inherit; }
    .bp3-dark .editor-colors .variable.constant,
    .bp3-dark .editor-colors .variable.language{
      color:#2ee6d6; }
    .bp3-dark .editor-colors .punctuation.section.embedded{
      color:#c274c2; }
/*# sourceMappingURL=docs-theme.css.map */