name: Main Workflow

on:
  push:
    branches: [ main ]
  schedule:
    - cron: 0 0 1 * *

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: Swatinem/rust-cache@v1
    - run: cargo test --workspace --all-features --verbose

  site:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: cargo doc --verbose --workspace --all-features --no-deps
    - name: Build (Release)
      run: "cargo xtask dist --release"
    - name: Move doc to build/api
      run: mv ./target/doc ./target/release/dist/api
