name: PR

on:
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true

    - name: Tests
      run: cargo test --workspace --all-features --verbose

    - name: Lints
      run: cargo clippy --all --all-features --tests -- -D warnings

      # NOTE: we use nightly here to enable the options `error_on_line_overflow`
      # and `error_on_unformatted`
    - name: install Rust nightly
      uses: dtolnay/rust-toolchain@nightly
      with:
        component: rustfmt

    - name: Format
      run: cargo +nightly fmt -- --check
