name: PR

on:
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true

    - run: cargo test --workspace --all-features --verbose
      env:
        GITHUB_PR_SOURCE_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}

    - run: cargo clippy --all --all-features --tests -- -D warnings

    # NOTE: we use nightly here to enable the options `error_on_line_overflow`
    # and `error_on_unformatted`
    - run: rustup install nightly

    - run: cargo +nightly fmt -- --check
